# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

_BRAINSTORM/

# IDE Pycharm
.idea

# IDE Visual Studio Code
.vscode
*.code-workspace

# mkdocs
public/

# ============== frontend/ ===============
!frontend/public/
!frontend/**/lib/

# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.*
frontend/.yarn/*
frontend/!.yarn/patches
frontend/!.yarn/plugins
frontend/!.yarn/releases
frontend/!.yarn/versions

# testing
frontend/coverage

# next.js
frontend/.next/
frontend/out/

# production
frontend/build

# misc
frontend/.DS_Store
frontend/*.pem

# debug
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
frontend/.env*
frontend/!.env.*.example

# vercel
frontend/.vercel

# typescript
frontend/*.tsbuildinfo
frontend/next-env.d.ts

# backup files
frontend/*.bak

# ============== backend/ ===============
# Python
backend/__pycache__/
backend/*.py[cod]
backend/*$py.class
backend/*.so
backend/.Python
backend/env/
backend/venv/
backend/ENV/
backend/env.bak/
backend/venv.bak/

# Django
backend/*.log
backend/local_settings.py
backend/db.sqlite3
backend/db.sqlite3-journal
backend/media/

# Environment variables
backend/.env*
backend/!.env.*.example

# IDE
backend/.vscode/
backend/.idea/
backend/*.swp
backend/*.swo

# OS
backend/.DS_Store
backend/Thumbs.db
