[settings]
known_third_party = api_v1,argcomplete,asgiref,attrs,channels,coloring,cybsuite,dateutil,deepmerge,django,dotenv,jinja2,koalak,openpyxl,psycopg2,pytest,rest_framework,rich,toml,typeguard,tzlocal,validators,yaml
multi_line_output=3
include_trailing_comma=True
force_grid_wrap=0
use_parentheses=True
line_length=88
